h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 167, 34);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}